body {
  max-width: 600px;
  margin: 25px auto;
  background-color: aliceblue;
}

input, textarea, select, button { 
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

button {
  margin: 15px 5px 0px 0px;
  min-width: 150px;
}