/* .Pokedex {
  display: flex;
  flex-direction: row;
}

.pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  background-color: blueviolet;
} */
#root {
  background-color: #ecdada;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}