
        h1{
            font-family: sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: orange;

        }
        ul{
            background-color: salmon;
        }
        .campo{
            background-color: blueviolet;
        }
        p{
            font-size: 3em;
            font-style: oblique;
            line-height: 3em;
            text-align: center;
            text-decoration:overline;
        }
        body{
            font-size: 1em;
        }
        #Amarelo{
            background-color: yellow;
        }
        #Vermelho{
            background-color: red;
        }
        #Marrom{
            background-color: brown;
        }

